@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --color-grey: #eee;
  --color-dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* CUSTOM STYLING START HERE */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-blue);
}

p {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.input-area {
  width: 75%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.8rem;
}

.btn {
  padding: 8px 13px;
  border: 1px solid;
  border-color: var(--white);
  border-radius: 5px;
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 1.8rem;
  margin-left: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--white);
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .input-area {
    width: 65%;
  }
}
